.about-section {
  background: #fefcf3;

  @include media(desktop) {
  }
}

.about-section-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 34px;
    padding-bottom: 0;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
    padding: 0 48px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: max-content;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 644px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(desktop) {
    gap: 20px;
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 654px;
  }
}
