.cta-section {
  background: #fefcf3;

  @include media(desktop) {
  }
}

.cta-bg-wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/cta/cta-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: url(../img/cta/cta-bg-desk.jpg);
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-content-wrapper {
  @include media(desktop) {
  }
}

.cta-title {
  text-align: center;

  @include media(desktop) {
  }
}

.cta-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.cta-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #7c58eb;
  border-radius: 20px;
  padding: 10px 34px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
    padding: 15px 80px;
    gap: 20px;
  }
}

.cta-icon {
  min-width: 17px;

  @include media(desktop) {
    min-width: 29px;
    width: 29px;
    height: 29px;
  }
}

.cta-link-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.cta-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #1e1e1e;
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    max-width: max-content;
  }
}
