.footer {
  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 110px;
    padding-bottom: 10px;
    max-width: 1440px;
  }
}

.footer-container {
  padding: 0 26px;

  @include media(desktop) {
    padding: 0 116px;
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 30px;

  @include media(desktop) {
    margin-bottom: 50px;
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.footer-logo-img {
  min-width: 112px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;

  @include media(desktop) {
    gap: 20px;
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-align: right;
  color: #1e1e1e;

  @include media(desktop) {
    font-size: 20px;
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  color: #1e1e1e;

  @include media(desktop) {
    font-size: 20px;
  }
}
