.header {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-wrapper {
  @include media(desktop) {
  }
}

.header-bg-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #1e1e1e;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.header-cta-link {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #0c6bf5;
    border-radius: 20px;
    padding: 11px 50px;
    max-width: max-content;
  }
}

.header-cta-icon {
  @include media(desktop) {
    min-width: 29px;
  }
}

.header-cta-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #000;
}
