.policy-section {
  background: #fff;

  @include media(desktop) {
  }
}

.policy-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 140px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.policy-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #1e1e1e;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 30px;
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
