<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">You Don’t Need to Be Good</h2>
          <div class="about-text-container">
            <p class="about-text">There’s no right way to draw here.</p>
            <p class="about-text">
              No rules about proportions. No need for perfect shapes. Move your
              finger around, pick whatever color feels right, and see what
              happens.
            </p>
            <p class="about-text">
              You try something small. Maybe a word. Maybe a shape. Maybe
              nothing that makes sense.<br />
              Honestly? Honestly, that weird little scribble I made was way more
              fun than I thought it'd be.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="654"
            height="434"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="329"
            height="218"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="329"
            height="218"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
