<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <h2 class="section-title cta-title">Just Make the First Line</h2>
        <p class="cta-text">
          You don’t need a plan.<br />
          You don’t need a goal.<br />
          Just start.
        </p>
        <a
          class="cta-link"
          href="https://play.google.com/store/apps/details?id=com.BP96STUDIO.CanvasPainting&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="cta-icon" width="17" height="17">
            <use href="./img/sprite.svg#icon-download"></use>
          </svg>
          <p class="cta-link-text">Download Canvas Painting</p></a
        >
        <p class="cta-bottom-text">
          Version 2.0 · Updated Feb 28, 2026 · Android 7.1+ · 100+ downloads
        </p>
      </div>
    </div>
  </div>
</section>
