<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        We kept it simple - just the basics you actually need.
      </h2>
      <p class="features-text">
        We kept it really simple because, let's be real, nobody wants to hunt
        through tons of menus when you just wanna doodle something quick.<br />
        What you can do:
      </p>
      <ul class="features-list">
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img1-desk.png"
              media="(min-width: 1440px)"
              width="102"
              height="103"
            />
            <source
              srcset="./img/features/features-img1-mob.png"
              width="51"
              height="52"
            />
            <img
              class="features-img"
              src="./img/features/features-img1-mob.png"
              alt="Screenshot of the game"
              width="51"
              height="52"
            />
          </picture>
          <p class="features-item-text">Choose colors from a bright palette</p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img2-desk.png"
              media="(min-width: 1440px)"
              width="102"
              height="103"
            />
            <source
              srcset="./img/features/features-img2-mob.png"
              width="51"
              height="52"
            />
            <img
              class="features-img"
              src="./img/features/features-img2-mob.png"
              alt="Screenshot of the game"
              width="51"
              height="52"
            />
          </picture>
          <p class="features-item-text">Draw freely on the canvas</p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img3-desk.png"
              media="(min-width: 1440px)"
              width="102"
              height="103"
            />
            <source
              srcset="./img/features/features-img3-mob.png"
              width="51"
              height="52"
            />
            <img
              class="features-img"
              src="./img/features/features-img3-mob.png"
              alt="Screenshot of the game"
              width="51"
              height="52"
            />
          </picture>
          <p class="features-item-text">Switch tools instantly</p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img4-desk.png"
              media="(min-width: 1440px)"
              width="102"
              height="103"
            />
            <source
              srcset="./img/features/features-img4-mob.png"
              width="51"
              height="52"
            />
            <img
              class="features-img"
              src="./img/features/features-img4-mob.png"
              alt="Screenshot of the game"
              width="51"
              height="52"
            />
          </picture>
          <p class="features-item-text">Erase, redraw, try again</p>
        </li>
      </ul>
      <p class="features-bottom-text">
        No fancy features to confuse you - just draw.
      </p>
    </div>
  </div>
</section>
