<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">
            It’s Not About the Result
          </h2>
          <div class="gameplay-text-container">
            <p class="gameplay-text">
              At some point, you stop thinking about what you’re making.
            </p>
            <p class="gameplay-text">You just draw.</p>
            <p class="gameplay-text">
              Lines turn into shapes. Shapes turn into something unexpected. And
              even if it doesn’t look “finished,” it still feels complete.<br />
              Whatever you make is yours - could be a total disaster or
              something weird, but who cares?
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="743"
            height="424"
          />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="293"
            height="167"
          />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="293"
            height="167"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
