<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">It Starts With Nothing</h1>
          <div class="hero-text-container">
            <p class="hero-text">
              A blank screen.<br />
              No instructions. No pressure. No expectations.
            </p>
            <p class="hero-text">
              Nothing but empty space staring back at you.
            </p>
            <p class="hero-text">
              You tap the screen and suddenly there's this crooked line - not
              what you expected, but it's a start. It's not perfect, but hey,
              it's yours.<br />
              That’s how it begins.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="658"
            height="410"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="310"
            height="193"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="310"
            height="193"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
